

  {% extends "app/base.html" %}

  {% load static %}

  

    {% block content %}
        <div style="background-color:  hsla(191, 86%, 9%, 0.400); box-shadow: 7px 13px 37px #000;">
    {% for servicio in servicios %}
    <section class="page-section clearfix">
          <div class="container">
            <div class="intro">
              <img
                class="intro-img img-fluid mb-3 mb-lg-0 rounded"
                src="{{servicio.imagen.url}}"style="width: 50%"
                alt=""
              />
              <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-lower">{{servicio.titulo}}</span>
                  <span class="section-heading-upper">{{servicio.contenido}}</span>
                </h2>
              </div>
            </div>
          </div>
        </section>

    {% endfor %}
     
    <section class="textst">
       <div style="width: 75%; color: white; margin: auto; text-align: center;">Area:&nbsp;&nbsp;&nbsp;
         {% for servicio in servicios %}
         {% for categoria in servicio.categorias.all %}
         <a href="{% url 'categoria_servicios' categoria.id%}" class="textos">{{categoria.nombre}}</a> &nbsp;&nbsp;&nbsp;
         {% endfor %}
         {% endfor %}
         
         <a href="{% url 'contacto'%}"><button class="botons">Comunicarse</button></a>
         <a href="{% url 'post'%}"><button class="botons">Chatear con nosotros</button></a>

       </div>

     </section>
        </div>
    {% endblock %}
