<html>
  <head>
    {% load static %}

    <!-- Bootstrap -->
    <link
      href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <!-- Fonts -->

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
      rel="stylesheet"
    />

    <!-- Styles -->
    <link href="{% static 'app/css/gestion.css' %}" rel="stylesheet" />
  </head>

  <body>
  <div>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
     <span class="site-heading-lower">¡KeepQuerry (ERS)!</span>
    </h1>
      


   </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div style="background-image:url(https://m.media-amazon.com/images/G/02/CerberusPrimeVideo-FN38FSBD/adult-1.png)" class="profile-avatar"></div>
    <div>
    {% if session == login %}
        <span style="color: white;margin-left: 1px">{{ user.username }}</span>
        {% endif %}
    </div>
        <a href="{% url 'salir' %}"style="color: white;margin-left: 10px"><div>Salir</div></a>
      <div class="container">
        <a
          class="
            navbar-brand
            text-uppercase text-expanded
            font-weight-bold
            d-lg-none
          "
          href="{% url 'nuevo' %}"
          >Inicio</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'nuevo' %}"
                >Inicio</a
              >
              </li>

              <div class="collapse navbar_collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a href="{% url 'blog' %}" class="nav-link"></a>
                  </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                  {% if user.is_authenticated %}
                      <li class="nav-item">
                        <a href="#" class="nav-link">hola mundo{{user.username}}}</a>

                      </li>
                  {% else %}
                  {% endif %}
                </ul>
              </div>

            <li class="nav-item {% if request.path == '/portafolio/' %}active{% endif %} px-lg-4">
              <a
                class="nav-link text-uppercase text-expanded"
                href="{% url 'portafolio' %}"
                >Portafolio</a
              >
            </li>
            <li class="nav-item {% if request.path == '/tienda/' %}active{% endif %} px-lg-4">
              <a
                class="nav-link text-uppercase text-expanded"
                href="{% url 'Tienda' %}"
                >Tienda</a
              >
            </li>
            <li class="nav-item  {% if request.path == '/contacto/' %}active{% endif %} px-lg-4">
              <a
                class="nav-link text-uppercase text-expanded"
                href="{% url 'contacto' %}"
                >Contacto</a
              >
            </li>
            <li class="nav-item {% if request.path == '/blog/' %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'blog' %}"
                >Blog</a
              >
            </li>

            <li class="nav-item {% if request.path == 'perfil/register/' %}active{% endif %} px-lg-4">
              <a
                class="nav-link text-uppercase text-expanded"
                href="{% url 'register' %}"
                >Registrarse</a
              >
            </li>
                <li class="nav-item {% if request.path == 'perfil/login/' %}active{% endif %} px-lg-4">
              <a
                class="nav-link text-uppercase text-expanded"
                href="{% url 'login' %}"
                >Login</a
              >
            </li>
          <li class="nav-item {% if request.path|slice:':8' == 'personas/Inicio/' %}active{% endif %} px-lg-4">
              <a
                class="nav-link text-uppercase text-expanded"
                href="{% url 'Inicio' %}"
                >Mecanicos</a
              >
            </li>
          <li class="nav-item px-lg-4">
              <a
                class="nav-link text-uppercase text-expanded"
                href="admin"
                >Administracion Del Sistema</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="textos-header">
          <h1></h1>
          <h2></h2>
    </section>
     {% if messages %}
      {% for message in messages %}
       <div class="notification {{message.tags}}">
         {{ message }}
       </div>
      {% endfor %}
      {% endif %}

    <!--contenido cambiante-->
    {% block content %} 
    
    
    
    
    {% endblock %}

    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </p>
        <p class="m-0 mbt">
          <a href="sample.html" class="link">Política de privacidad</a> ·
          <a href="sample.html" class="link">Aviso legal</a> ·
          <a href="sample.html" class="link">Cookies</a>
        </p>
        <p class="m-0 mbt1">&copy; Portafolio ¡KeepQuerry (ERS)! 2021</p>
      </div>
    </footer>

    <!-- Bootstrap -->
    <script src="{% static 'app/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
