{% extends "app/base.html" %}


<!--  <body>-->


  {% load static %}


{% block content %}


        <!-- SHOWCASE -->

<h1 class="titulo" style="font-size: 300px;color: hsla(256, 30%, 64%, 0.219); animation: wave 30s linear infinite;

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 1900px;
  }
  100% {
    margin-right: 300px;
  }
  0%{
  margin-right: 0px
} 
}">¡KeepQuerry (ERS)!</h1>


       <section class="textos-header">
          <h1></h1>
          <h2></h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden">
          <svg
            viewBox="0 0 500 150"
            preserveAspectRatio="none"
            style="height: 100%; width: 100%; box-shadow: 7px 13px 27px #000;"

          > 
            <path
              d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
              style="stroke: none; fill: hsla(191, 86%, 9%, 0.400);box-shadow: 7px 13px 27px #000;"
              ; 
           ></path>
          </svg>
        </div>
      </div> 

    </header>

   


{% endblock %}

