{% extends "admin/base.html" %} 




{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{%endblock %}
{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'app/css/admin.css' %}">

<style>
    body {
  width: 100%;
  height: 1000px;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      hsla(356, 90%, 64%, 0.219),
      hsla(280, 78%, 69%, 0.418),
      hsla(191, 86%, 49%, 0.432)
    ),
    url(../img/img-1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
      to right,
      hsla(356, 90%, 64%, 0.219),
      hsla(280, 78%, 69%, 0.418),
      hsla(191, 86%, 49%, 0.432)
    ),
    url(../img/img17.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  /*font-family: 'Lora';*/
  /*background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/bg_main.jpg");*/
  /*background-attachment: fixed;*/
  /*background-position: center;*/
  /*background-size: cover;*/
}
</style>
{% endblock %}

<!--{% block branding %}-->
<!--    <img src="{% static '' %}" alt="SITIO" width="80">-->
<!--{% endblock %}-->

{% block nav-global %} {% endblock %}
