{% extends "app/base.html" %}
{% load humanize %}
  {% load static %}


{% block content %}

{% for post in posts%}

        <header>
            <h2 class="username"><a href="#">{{post.user.username|naturaltime }}</a></h2>
            <div class="post"> {{post.content}} </div>
            <form method="post" class="forms">
              {% csrf_token %}
              {{ form }}
              <h4 class="controls" style="text-align: center;">Iniciar sesión</h4>
<!--              <input-->
<!--                class="controls"-->
<!--                type="text"-->
<!--                name="nombre"-->
<!--                placeholder="Ingrese Su Nombre"-->
<!--              />-->
<!--              <input-->
<!--                class="controls"-->
<!--                type="text"-->
<!--                name="apellido"-->
<!--                placeholder="Ingrese Su Apellido"-->
<!--              />-->
              <input
                class="controls"
                type="email"
                name="correo"
                placeholder="Ingrese Su Correo"
              />
              <input
                class="controls"
                type="password"
                name="Contraceña"
                placeholder="ingrese Su Contraceña"
              />
              <p>Iniciar sesión como <a href="{% url 'Inicio' %}"class="controls"><botton class="controls"style="color: #1f53c5">ADMINISTRADOR</botton> </a></p>
                  <a href="{% url 'nuevo' %}">
              <input class="botons" type="submit" name="" id="" value="Iniciar Sesión" />
               </a>
              <p><a href="{% url 'nuevo' %}"></a></p>
             <a href="{% url 'nuevo' %}">regreso al inicio</a>
              <a href="{% url 'register' %}"><botton class="botons">Registrarme</botton></a>

        </form>
            {% if messages %}
            {% for message in messages %}
            <b>{{message}}}</b>
            {% endfor %}
            {% endif %}

    </header>
   <div class="contenido"></div>

{% endfor %}
{% endblock %}

